<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
	<display-name>XDLab</display-name>
	<error-page>
		<exception-type>com.kan.mvc.test.TestException</exception-type>
		<location>/testException.jsp</location>
	</error-page>
	<filter>
		<display-name>AntiCrawlerFilter</display-name>
		<filter-name>AntiCrawlerFilter</filter-name>
		<filter-class>com.kan.anticrawler.AntiCrawlerFilter</filter-class>
	</filter>
	<filter>
		<display-name>EncodingFilter</display-name>
		<filter-name>EncodingFilter</filter-name>
		<filter-class>com.kan.mvc.filters.EncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter>
		<display-name>MVCFilter</display-name>
		<filter-name>MVCFilter</filter-name>
		<filter-class>com.kan.mvc.filters.MVCFilter</filter-class>
	</filter>
	<filter>
		<display-name>MVCDispatcher</display-name>
		<filter-name>MVCDispatcher</filter-name>
		<filter-class>com.kan.mvc.filters.MVCDispatcher</filter-class>
		<init-param>
			<description></description>
			<param-name>config</param-name>
			<param-value>com.kan.mvc.test.MyConfig</param-value>
		</init-param>
		<init-param>
			<description></description>
			<param-name>actionPackages</param-name>
			<param-value>com.kan.mvc.test.actions</param-value>
		</init-param>
		<init-param>
			<description></description>
			<param-name>TemplateRoot</param-name>
			<param-value>/WEB-INF/</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>AntiCrawlerFilter</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>EncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>MVCFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>MVCDispatcher</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>freemarker</servlet-name>
		<servlet-class>freemarker.ext.servlet.FreemarkerServlet</servlet-class>
		<init-param>
			<param-name>TemplatePath</param-name>
			<param-value>/</param-value>
		</init-param>
		<init-param>
			<param-name>NoCache</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>ContentType</param-name>
			<param-value>text/html; charset=UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>template_update_delay</param-name>
			<param-value>0</param-value>
		</init-param>
		<init-param>
			<param-name>default_encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>number_format</param-name>
			<param-value>0.##########</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>freemarker</servlet-name>
		<url-pattern>*.ftl</url-pattern>
	</servlet-mapping>
	<!-- FROM TestCompass -->
	<servlet>
		<description>
		</description>
		<display-name>TestServlet</display-name>
		<servlet-name>TestServlet</servlet-name>
		<servlet-class>com.kan.test.TestServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ResumeServlet</display-name>
		<servlet-name>ResumeServlet</servlet-name>
		<servlet-class>com.kan.servlets.ResumeServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AdminResumeServlet</display-name>
		<servlet-name>AdminResumeServlet</servlet-name>
		<servlet-class>com.kan.servlets.admin.AdminResumeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TestServlet</servlet-name>
		<url-pattern>/TestServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ResumeServlet</servlet-name>
		<url-pattern>/ResumeServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminResumeServlet</servlet-name>
		<url-pattern>/AdminResumeServlet</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>